// klis-light.scss
/* Katelinlis.xyz light theme */

@import "_layout.scss";

:root {
    --klis-background-color: #{$light};
    --klis-text-color: #{$dark};
    --klis-header-color: #{$very-dark};
}