// klis-dark.scss
/* Katelinlis.xyz dark theme */

@import "_layout.scss";

:root {
    --klis-background-color: #{$dark};
    --klis-text-color: #{$light};
    --klis-header-color: #{$very-light};
    --klis-link-color: #{$very-light};
    --klis-link-color-visited: #{$visited-light};
}